<div *ngIf="isList">
  <div>
    <h2>List Students</h2>
    <ul>
      <li *ngFor="let student of students">
        <a routerLink="/detail/{{ student.id }}">
          <span>{{ student.id }}</span> {{ student.firstName }}
        </a>
        <button type="button" title="delete student" (click)="delete(student)">
          x
        </button>
      </li>
    </ul>
  </div>
  <button type="button" (click)="onAdd()">Add student</button>
</div>
<div *ngIf="!isList">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="new-student">Full name: </label>
      <input id="new-student" formControlName="firstName" required />
    </div>

    <button type="button" class="btn btn-secondary" (click)="isList = true">
      Back
    </button>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
